<html>
    <head>
        <%- include ('partials/head') -%>      
        <style>
            .container-fluid {
                margin-top: 5%;
                margin-bottom: 5%;
                border:black; 
                border-width:1px; 
                border-style:solid;
                border-radius: 25px;
                background-color: lightblue;
                color: black;
            }
            table {
                margin-bottom: 2.5%;
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                border-radius: 25px;
                border-color: rgb(14, 14, 99);

            }

            td, th {
                border: 1px solid grey;  
                text-align: left;
                padding: 8px;
                color: black;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

        </style> 
    </head>
    <body>
        <%- include ('partials/loginNav') -%>
        <div class="container-fluid" style="align-content: center; width: 60%">
            <div class="row" style="margin-top: 15px;">
                <h2 class="header" style="font-size: 50px; margin-bottom: 50px;">Police Stations</h2>
            </div>
            <table>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>City</th>
                </tr>
                <% for ( const i in policestations ) { %>
                    <tr>
                        <td><%= policestations[i].name%></td>
                        <td><%= policestations[i].email %></td>
                        <td><%= policestations[i].city %></td>
                      </tr>
                <% } %>
                </table>
        </div>
    </body>

</html>