<html>
    <head>
        <%- include ('partials/head') -%>      
        <style>
            .container-fluid {
                margin-top: 5%;
                margin-bottom: 5%;
                border:black; 
                border-width:1px; 
                border-style:solid;
                border-radius: 25px;
                background-color: lightblue;
                color: black;
            }
            table {
                margin-bottom: 2.5%;
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                border-radius: 25px;
                border-color: rgb(14, 14, 99);

            }

            td, th {
                border: 1px solid grey;  
                text-align: left;
                padding: 8px;
                color: black;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <script>
            function showDetails(i,n) {
                i = i.toString();
                console.log(i);
                console.log(n);
                for(var j=0; j<n; j++) {
                    document.getElementById(j.toString()).style.display = "none";
                }
                document.getElementById(i).style.display = "block";
            }
            function hideDetails(i) {
                i = i.toString();
                document.getElementById(i).style.display = "none";
            }
            function goBack() {
                window.history.back();
            }
        </script>
    </head>
    <body>
        <%- include ('partials/loginNav') -%>
        <div class="container-fluid" style="align-content: center; width: 60%">
            <div class="row" style="margin-top: 15px">
                <h2 class="header" style="font-size: 50px; margin-bottom: 50px">My Complaints</h2>
            </div>
            <div class="row rowform">
                <a onclick="goBack()" style = "padding-left: 1000px; text-decoration: underline; color:navy">Go Back</a>
            </div>
            <br>
            <table>
                <tr>
                  <th>Type</th>
                  <th>Title</th>
                  <th>Police Station</th>
                  <th>Address</th>
                  <th>Details</th>
                  <th>Status</th>
                </tr>
                <% for ( const i in complaints ) { %>
                    <% n = complaints.length %>
                    <tr>
                        <td><%= complaints[i].type %></td>
                        <td><%= complaints[i].title %></td>
                        <td><%= complaints[i].name %></td>
                        <td><%= complaints[i].address %></td>
                        <td><a style="color:navy" onclick="showDetails(<%= i %>,<%= n %>)">View Details</a></td>
                        <div class="modal-dialog" id="<%= i %>" style="display: none;">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Details of the crime: <%= complaints[i].title %></h5>
                                <button type="button" class="btn-close" onclick="hideDetails(<%= i %>)"></button>
                            </div>
                            <div class="modal-body">
                                <p><%= complaints[i].details %></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="hideDetails(<%= i %>)">Close</button>
                            </div>
                            </div>
                        </div>
                        <td><%= complaints[i].status %></td>
                    </tr>
                <% } %>
                </table>
        </div>
    </body>

</html>